use flake
flutter pub get
flutter config --enable-linux-desktop
dart pub global activate flutter_distributor
echo "**********************************************************************"
echo "* flutter build linux --release                                      *"
echo "* flutter_distributor package --platform=linux --targets=zip         *"
echo "* yq eval pubspec.lock -o=json -P > pubspec.lock.json                *"
echo "**********************************************************************"
