[Desktop Entry]
Version=1.0
Name=Quickgui
Comment=An elegant virtual machine manager for the desktop
Exec=quickgui
Terminal=false
Type=Application
Icon=quickgui
Categories=Development;System;
