[Desktop Entry]
Version=1.0
Name=quickgui
Comment=A Flutter frontend for quickemu
Exec=/usr/bin/quickgui
Terminal=false
Type=Application
Icon=quickgui_512.png
Categories=System;
